
body {
    font-family: sans-serif;
}

.code {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: 90%;
  line-height: 1.15em;
}
table {
  border-collapse: collapse;
}
th {
  border: solid thin;
  text-align: center;
  background-color: #ccc;
}
td {
  border: solid thin;
  padding-left: 5px;
  padding-right: 5px;
}
table.pdu {
  text-align: center;
}
table.pdu th, table.pdu td {
    padding: 0.2em;
}
.pdu-offset {
    text-align: right;
    padding-right: 5px;
}
.pdu-offsets {
    font-style: italic;
    font-weight: normal;
}