
body {
    font-family: sans-serif;
}
table {
  border-collapse: collapse;
}
th {
  border: solid thin;
  text-align: center;
  background-color: #ccc;
}
td {
  border: solid thin;
  padding-left: 5px;
  padding-right: 5px;
}
table.pdu {
  text-align: center;
}
table.pdu th, table.pdu td {
    padding: 0.2em;
}
table.pdu th {
    text-align: right;
    padding-right: 5px;
    font-family: Monaco, 'Lucida Console', monospace;
    font-size: 80%;
}
table.pdu th.pdu-head {
    text-align: center;
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.05);
}
.pdu-offsets {
    font-family: sans-serif;
    font-style: italic;
    font-weight: normal;
    background-color: #fff;
    border: none;
}